/Hamming/bin
/Hamming/obj
/Hamming.Test/bin
/Hamming.Test/obj
/Hamming.UI/bin
/Hamming.UI/obj
/.vs/Hamming/v15/Server/sqlite3/storage.ide
/.vs/Hamming/v15/Server/sqlite3/storage.ide-shm
/.vs/Hamming/v15/Server/sqlite3/storage.ide-wal
/.vs/Hamming/v15/Server/sqlite3/db.lock
